@using AdvantShop.Core.UrlRewriter
@using AdvantShop.Module.CaptureForms.Service

@model string

@{ 
    var url = UrlService.GetUrl();
    var scripts = new List<string>
    {
        url + "modules/" + CaptureFormsSettings.ModuleID + "/content/scripts/CaptureFormsFeedback/CaptureFormsFeedback.js",
    };
}

<div data-oc-lazy-load="[@String.Join(",", scripts.Select(x => "'" + x + "?" + CaptureFormsSettings.Version + "'" ))]">
    <capture-forms-feedback data-feedback-string="@Model"></capture-forms-feedback>
</div>