<style>
    .nav.nav-tabs {
        background: #fff;
    }

        .nav.nav-tabs li.active {
            border-top: 1px solid transparent;
        }

            .nav.nav-tabs li.active a {
                color: #555555;
                background: #fff;
            }

        .nav.nav-tabs li {
            border-top: 1px solid #fff;
        }

    .nav-tabs > li > a:hover {
        border-color: #2d9ced;
    }

    .nav.nav-tabs li a {
        background: #2d9ced;
        color: #fff;
    }
</style>
<form novalidate name="captureFormsAddEditFormForm">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "add" ? "Новая форма" : "Редактирование формы"}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.captureFormsAddEditFormForm = captureFormsAddEditFormForm">
        <ul class="nav nav-tabs">
            <li class="ng-tab nav-item" ng-class="{'active' : ctrl.viewMode == 'main'}" ng-if="$ctrl.FormId > 0">
                <a href="" class="nav-link" style="border-radius: 0px;" ng-click="ctrl.viewMode = 'main';">
                    Основные настройки
                </a>
            </li>
        </ul>
        <div style="border: 1px solid #dddddd;" ng-switch="ctrl.viewMode">
            <div ng-switch-when="main" style="padding: 10px;">
                <div class="form-group row middle-xs">
                    <label class="col-xs-4 control-label capture-form-padding">
                        <span class="text-required">
                            Название
                        </span>
                        <help-trigger class="ng-cloak m-l-xs" use-template="true">
                            Название формы не выводится в клиенткой части, используется для индентификации формы в административной части
                        </help-trigger>
                    </label>
                    <div class="col-xs-6">
                        <input data-e2e="FormName" type="text" class="form-control" ng-model="ctrl.FormName" required validation-input-text="Название" autofocus />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-e2e="FormButtonSave"
                data-button-validation-success="ctrl.save()" data-button-validation ladda="ctrl.btnSleep"
                disabled ng-disabled="ctrl.mode == 'edit' && (!ctrl.formInited || !captureFormsAddEditFormForm.modified)"
                ng-bind="ctrl.mode == 'add' ? 'Добавить' : 'Сохранить'"></button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">Отмена</button>
    </div>
</form>