<style>
    .capture-content-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
</style>

<div ng-switch="$ctrl.mode == 'main'">
    <div ng-switch-when="true">
        <div class="sticky-page-name m-b-sm" sticky sticky-top="0">
            <div class="page-name-block sticky-page-name-inner">
                <div class="page-name-block-item-main">
                    <h1 class="page-name-block-text sticky-page-name-text">
                        Список форм
                    </h1>
                </div>
                <div class="page-name-block-item-additional">
                    <ui-modal-trigger data-controller="'ModalAddEditFormCtrl'" controller-as="ctrl" on-close="$ctrl.gridForms.fetchData()"
                                      template-url="../modules/captureForms/content/scripts/captureFormsList/modal/addEditForm.html">
                        <button class="btn btn-sm btn-success" type="button">
                            <span class="fa fa-plus"></span>
                            Добавить форму
                        </button>
                    </ui-modal-trigger>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <ui-grid-custom grid-unique-id="gridForms"
                                    grid-row-identificator="'FormId'"
                                    grid-on-init="$ctrl.gridFormsOnInit(grid)"
                                    grid-options="$ctrl.gridFormsOptions"
                                    grid-url="'../captureFormsadmin/getForms'"
                                    grid-inplace-url="'../captureFormsadmin/inplaceForm'"
                                    grid-extend-ctrl="$ctrl">
                        <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="$ctrl.gridForms.TotalString">
                        </ui-grid-custom-footer>
                    </ui-grid-custom>
                </div>
            </div>
        </div>
    </div>




    <div ng-switch-when="false">
        <form novalidate name="captureFormsAddEditFormForm">
            <div>
                <h1>{{ $ctrl.mode == "add" ? "Новая форма" : "Редактирование формы" }}</h1>
            </div>
            <div class="form-group row" style="margin-left: 0px;">
                <a href="javascript:void(0);" ng-click="$ctrl.resetForm();">Вернуться к списку форм</a>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    <li class="ng-tab nav-item" ng-class="{'active' : $ctrl.viewMode == 'main'}">
                        <a href="" class="nav-link" style="border-radius: 0px;" ng-click="$ctrl.viewMode = 'main';">
                            Основные настройки
                        </a>
                    </li>
                    <li class="ng-tab nav-item" ng-if="$ctrl.FormId > 0" ng-class="{'active' : $ctrl.viewMode == 'fields'}">
                        <a href="" class="nav-link" style="border-radius: 0px;" ng-click="$ctrl.viewMode = 'fields';">
                            Список полей
                        </a>
                    </li>
                    <li class="ng-tab nav-item" ng-if="$ctrl.FormId > 0" ng-class="{'active' : $ctrl.viewMode == 'bindings'}">
                        <a href="" class="nav-link" style="border-radius: 0px;" ng-click="$ctrl.viewMode = 'bindings';">
                            Расположение и привязка к объектам
                        </a>
                    </li>
                </ul>
                <div style="border: 1px solid #dddddd;" ng-switch="$ctrl.viewMode">
                    <div ng-switch-when="main" style="padding: 10px;">
                        <div class="form-group row middle-xs">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span class="text-required">
                                    Название
                                </span>
                                <help-trigger class="ng-cloak m-l-xs" use-template="true">
                                    Название формы не выводится в клиенткой части, используется для индентификации формы в административной части
                                </help-trigger>
                            </label>
                            <div class="col-xs-6">
                                <input data-e2e="FormName" type="text" class="form-control" ng-model="$ctrl.FormName" required validation-input-text="Название" autofocus />
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span class="text-required">
                                    Заголовок
                                </span>
                                <help-trigger class="ng-cloak m-l-xs" use-template="true">
                                    Выводится в клиенткой части в тег H2
                                </help-trigger>
                            </label>
                            <div class="col-xs-6">
                                <input data-e2e="HeaderName" type="text" class="form-control" ng-model="$ctrl.HeaderName" required validation-input-text="Заголовок" />
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span>
                                    Активность
                                </span>
                            </label>
                            <div class="col-xs-6">
                                <label class="adv-checkbox-label control-checkbox">
                                    <input type="checkbox" class="adv-checkbox-input" ng-model="$ctrl.Enabled" />
                                    <span class="adv-checkbox-emul"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span>
                                    Отображать в мобильной версии
                                </span>
                            </label>
                            <div class="col-xs-6">
                                <label class="adv-checkbox-label control-checkbox">
                                    <input type="checkbox" class="adv-checkbox-input" ng-model="$ctrl.MobileActive" />
                                    <span class="adv-checkbox-emul"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span>
                                    Не показывать форму авторизованным пользователям
                                </span>
                            </label>
                            <div class="col-xs-6">
                                <label class="adv-checkbox-label control-checkbox">
                                    <input type="checkbox" class="adv-checkbox-input" ng-model="$ctrl.NoShowForm" />
                                    <span class="adv-checkbox-emul"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span class="text-required">
                                    Текст кнопки
                                </span>
                            </label>
                            <div class="col-xs-6">
                                <input data-e2e="ButtonName" type="text" class="form-control" ng-model="$ctrl.ButtonName" required validation-input-text="Текст кнопки" />
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span>
                                    Каптча
                                </span>
                            </label>
                            <div class="col-xs-6">
                                <label class="adv-checkbox-label control-checkbox">
                                    <input type="checkbox" class="adv-checkbox-input" ng-model="$ctrl.Captcha" />
                                    <span class="adv-checkbox-emul"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span class="text-required">
                                    Внешний выступ в пикселях (px) (по-умолч. 0)
                                </span>
                                <help-trigger class="ng-cloak m-l-xs" use-template="true">
                                    Установить значение в пикселях, чтобы сделать выступы по ширине за пределы родительского блока
                                    <br />
                                    <img ng-src="{{$ctrl.ImageSrc}}" />
                                </help-trigger>
                            </label>
                            <div class="col-xs-6">
                                <input data-e2e="Margin" type="text" class="form-control" ng-model="$ctrl.Margin" required validation-input-text="Выступ в пикселях (px)" />
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span class="text-required">
                                    Отступ в пикселях (px)
                                </span>
                                <help-trigger class="ng-cloak m-l-xs" use-template="true">
                                    Размер отступа внутри блока формы и отступы сверху/снизу блока
                                </help-trigger>
                            </label>
                            <div class="col-xs-6">
                                <input data-e2e="Padding" type="text" class="form-control" ng-model="$ctrl.Padding" required validation-input-text="Отступ в пикселях (px)" />
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                Основной цвет формы
                            </label>
                            <div class="col-xs-6" ng-if="$ctrl.FormId > 0">
                                <color-picker ng-model="$ctrl.BackColor"
                                              options="$ctrl.BackColorPickerOptions"
                                              ng-required="$ctrl.BackColorCodeRequired"
                                              validation-input-text="Основной цвет формы"
                                              api="$ctrl.BackColorPickerApi"
                                              event-api="$ctrl.BackColorPickerEventApi"></color-picker>
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span>
                                    Добавлять информацию о соглашении
                                </span>
                            </label>
                            <div class="col-xs-6">
                                <label class="adv-checkbox-label control-checkbox">
                                    <input type="checkbox" class="adv-checkbox-input" ng-model="$ctrl.EnabledAgreement" />
                                    <span class="adv-checkbox-emul"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span class="text-required">
                                    Содержимое информации о соглашении
                                </span>
                            </label>
                            <div class="col-xs-6">
                                <textarea id="TextAgreement" ckeditor ng-model="$ctrl.TextAgreement" class="wysiwyg" multiple></textarea>
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                Список, в который попадает лид
                            </label>
                            <div class="col-xs-6">
                                <select ng-options="LeadGroup as LeadGroup.Value for LeadGroup in $ctrl.LeadGroupIds track by LeadGroup.Id"
                                        ng-model="$ctrl.LeadGroup"
                                        class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row middle-xs" ng-if="$ctrl.FormId > 0">
                            <label class="col-xs-4 control-label capture-form-padding">
                                <span>
                                    Текст сообщения после закрытия формы
                                </span>
                            </label>
                            <div class="col-xs-6">
                                <input data-e2e="TextAfterSend" type="text" class="form-control" ng-model="$ctrl.TextAfterSend" validation-input-text="Текст сообщения после закрытия формы" />
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="fields" ng-if="$ctrl.FormId > 0" style="padding: 10px;">
                        <div class="form-group row" style="text-align: right;">
                            <div class="col-xs-12" style="margin-top: 10px; margin-bottom: 5px;">
                                <ui-modal-trigger data-controller="'ModalAddEditFormFieldCtrl'" controller-as="ctrl" data-resolve="{ FormId: $ctrl.FormId }" data-on-close="$ctrl.gridFormsFields.fetchData()"
                                                  template-url="../modules/captureForms/content/scripts/captureFormsList/modal/addEditFormField.html">
                                    <button class="btn btn-sm btn-success" type="button">
                                        <span class="fa fa-plus"></span>
                                        Добавить поле
                                    </button>
                                </ui-modal-trigger>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div ng-if="$ctrl.showFormFields" class="col-xs-12">
                                <ui-grid-custom grid-unique-id="gridFormsFields"
                                                grid-row-identificator="'FormFieldId'"
                                                grid-on-init="$ctrl.gridFormsFieldsOnInit(grid)"
                                                grid-options="$ctrl.gridFormsFieldsOptions"
                                                grid-url="$ctrl.gridFormsFieldsUrl"
                                                grid-inplace-url="'../captureFormsadmin/inplaceFormFields'"
                                                grid-extend-ctrl="$ctrl">
                                    <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="$ctrl.gridFormsFields.TotalString">
                                    </ui-grid-custom-footer>
                                </ui-grid-custom>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="bindings" ng-if="$ctrl.FormId > 0" style="padding: 10px;">
                        <h3>Выберите страницу размещения формы</h3>
                        <div class="form-group row middle-xs">
                            <label class="col-xs-4 control-label">
                                <span class="text-required">
                                    Выберите тип
                                </span>
                            </label>
                            <div class="col-xs-6">
                                <select ng-options="type as type.Value for type in $ctrl.entityTypes track by type.Value"
                                        ng-model="$ctrl.entityType"
                                        ng-change="$ctrl.changeEntityType()"
                                        class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row middle-xs">
                            <label class="col-xs-4 control-label">
                                <span class="text-required">
                                    Выберите место
                                </span>
                            </label>
                            <div class="col-xs-6">
                                <select ng-options="type as type.Value for type in $ctrl.placementTypes track by type.Id"
                                        ng-model="$ctrl.placementType"
                                        class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4">
                                <b>Привязать объект</b>
                            </div>
                            <div class="col-xs-6" ng-switch="$ctrl.entityType.Id">
                                <div ng-switch-when="0">
                                    <a href="" class="btn btn-sm btn-success" ng-click="$ctrl.bindingEntity('', 'mainpage')">Привязать главную страницу</a>
                                </div>
                                <div ng-switch-when="1">
                                    <ui-modal-trigger size="xs-11" data-controller="'ModalProductsSelectvizrCtrl'" data-controller-as="ctrl"
                                                      data-resolve="{}"
                                                      template-url="../areas/admin/content/src/_shared/modal/products-selectvizr/productsSelectvizrModal.html"
                                                      data-on-close="$ctrl.bindingEntity(result, 'product')">
                                        <a href="" class="btn btn-sm btn-success">Привязать товар</a>
                                    </ui-modal-trigger>
                                </div>
                                <div ng-switch-when="2">
                                    <ui-modal-trigger data-controller="'ModalAddCategoryCtrl'" controller-as="ctrl"
                                                      template-url="../areas/admin/content/src/_shared/modal/addCategory/AddCategory.html"
                                                      data-on-close="$ctrl.bindingEntity(result, 'category')">
                                        <a href="" class="btn btn-sm btn-success" data-e2e="CategoryAdd">Привязать категорию</a>
                                    </ui-modal-trigger>
                                </div>
                                <div ng-switch-when="3">
                                    <ui-modal-trigger data-controller="'ModalAddBrandCtrl'" controller-as="ctrl"
                                                      template-url="../areas/admin/content/src/_shared/modal/addBrand/addBrand.html"
                                                      data-on-close="$ctrl.bindingEntity(result, 'brand')">
                                        <a href="" class="btn btn-sm btn-success">Привязать бренд</a>
                                    </ui-modal-trigger>
                                </div>
                                <div ng-switch-when="4">
                                    <ui-modal-trigger data-controller="'ModalSelectNewsCtrl'" controller-as="ctrl"
                                                      template-url="../areas/admin/content/src/_shared/modal/selectNews/selectNews.html"
                                                      data-on-close="$ctrl.bindingEntity(result, 'new')">
                                        <a href="" class="btn btn-sm btn-success">Привязать новость</a>
                                    </ui-modal-trigger>
                                </div>
                                <div ng-switch-when="5">
                                    <ui-modal-trigger data-controller="'ModalSelectStaticPageCtrl'" controller-as="ctrl"
                                                      data-on-close="$ctrl.bindingEntity(result, 'staticpage')"
                                                      template-url="../areas/admin/content/src/_shared/modal/selectStaticPage/selectStaticPage.html">
                                        <a href="" class="btn btn-sm btn-success">Привязать статическую страницу</a>
                                    </ui-modal-trigger>
                                </div>
                                <div ng-switch-when="6">
                                    <ui-modal-trigger data-controller="'ModalAddCategoryCtrl'" controller-as="ctrl"
                                                      template-url="../areas/admin/content/src/_shared/modal/addCategory/AddCategory.html"
                                                      data-on-close="$ctrl.bindingEntity(result, 'productsofcategory')">
                                        <a href="" class="btn btn-sm btn-success" data-e2e="CategoryAdd">Привязать категорию</a>
                                    </ui-modal-trigger>
                                </div>

                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div ng-if="$ctrl.showFormEntities" class="col-xs-12">
                                <ui-grid-custom grid-unique-id="gridFormsEntities"
                                                grid-row-identificator="'FormEntityId'"
                                                grid-on-init="$ctrl.gridFormsEntitiesOnInit(grid)"
                                                grid-options="$ctrl.gridFormsEntitiesOptions"
                                                grid-url="$ctrl.gridFormsEntitiesUrl"
                                                grid-inplace-url="'../captureFormsadmin/inplaceFormentities'"
                                                grid-extend-ctrl="$ctrl">
                                    <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="$ctrl.gridFormsEntities.TotalString">
                                    </ui-grid-custom-footer>
                                </ui-grid-custom>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group row" style="padding-top: 15px;">
                <div class="col-xs-12">
                    <button class="btn btn-save btn-success" type="button"
                            data-button-validation-success="$ctrl.save()" data-button-validation ladda="$ctrl.btnSleep"
                            disabled ng-disabled="$ctrl.mode == 'edit' && (!$ctrl.formInited || !captureFormsAddEditFormForm.modified)"
                            ng-bind="$ctrl.mode == 'add' ? 'Добавить' : 'Сохранить'"></button>

                    <button class="btn btn-default btn-action" type="button" ng-click="$ctrl.resetForm();">Отмена</button>
                </div>
            </div>
        </form>
    </div>
</div>
